<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="false" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="Custom Package Source" value="Roslyn Package Source" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
